@using TWN.DiscordBot.ControlPanel.Controller
@inject IBotDataController botDataController;
@inject NavigationManager navigationManager;

<div>
  <Button Color="ButtonColor.Primary" @onclick="()=> HandleAdd()"><Icon Name="IconName.DatabaseFillAdd"></Icon></Button>
  |
  <Button Color="ButtonColor.Primary" @onclick="()=> HandleReload()"><Icon Name="IconName.ArrowClockwise"></Icon></Button>
</div>
<hr />
<Grid @ref="dataGrid"
      TItem="AnnouncementData"
      Class="table table-hover border-top"
      DataProvider="AnnouncementsDataProvider"
      AllowDetailView="true">
  <GridColumns>
    <GridColumn HeaderText="" TItem="AnnouncementData" class="align-middle">
      <Button Color="ButtonColor.Primary" @onclick="() => HandleRun(context)"><Icon Name="IconName.PlayFill"></Icon></Button>
    </GridColumn>
    <GridColumn HeaderText="Twitch User" TItem="AnnouncementData" PropertyName="TwitchUser" class="align-middle">
      <Image Src="@context.AnnouncementTwitchUserData.ProfileImageUrl" IsResponsive="true" Class="rounded-circle img-fluid" Style="width: 25px; height: 25px" />
      <Badge Color="@GetBadgeColor(context.IsOnline)" Class="p-2">
        <Icon Name="IconName.Twitch" />
        <span class="p-2">@context.TwitchUser</span>
      </Badge>
    </GridColumn>
    <GridColumn HeaderText="Guild Name" TItem="AnnouncementData" PropertyName="GuildName" class="align-middle">
      <Image Src="@context.AnnouncementDiscordData.GuildIconUrl" IsResponsive="true" Class="rounded-circle img-fluid" Style="width: 25px; height: 25px" />
      <span class="p-2">@context.AnnouncementDiscordData.GuildName</span>
    </GridColumn>
    <GridColumn HeaderText="Channel Name" TItem="AnnouncementData" PropertyName="ChannelName" class="align-middle">
      <span>@context.AnnouncementDiscordData.ChannelName</span>
    </GridColumn>
    <GridColumn HeaderText="" TItem="AnnouncementData" class="align-middle">
      <Button Color="ButtonColor.Danger" @onclick="() => HandleDelete(context)"><Icon Name="IconName.TrashFill"></Icon></Button>
    </GridColumn>
  </GridColumns>

  <GridDetailView @ref="dataGridDetail" TItem="AnnouncementData">
    <table>
      <tr><td>ID: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.ID</span></td></tr>
      <tr><td>Login: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.Login</span></td></tr>
      <tr><td>DisplayName: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.DisplayName</span></td></tr>
      <tr><td>Type: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.Type</span></td></tr>
      <tr><td>BroadcasterType: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.BroadcasterType</span></td></tr>
      <tr><td>Description: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.Description</span></td></tr>
      <tr><td>ProfileImageUrl: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.ProfileImageUrl</span></td></tr>
      <tr><td>OfflineImageUrl: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.OfflineImageUrl</span></td></tr>
      <tr><td>ViewCount: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.ViewCount</span></td></tr>
      <tr><td>CreatedAt: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.CreatedAt</span></td></tr>
    </table>
    @if (context.IsOnline)
    {
      <table>
        <tr><td>ID </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.ID  </span></td></tr>
        <tr><td>UserID </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.UserID  </span></td></tr>
        <tr><td>UserLogin </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.UserLogin  </span></td></tr>
        <tr><td>UserName </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.UserName  </span></td></tr>
        <tr><td>GameID </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.GameID  </span></td></tr>
        <tr><td>GameName </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.GameName  </span></td></tr>
        <tr><td>Type </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.Type  </span></td></tr>
        <tr><td>Title </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.Title  </span></td></tr>
        <tr><td>ViewerCount </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.ViewerCount  </span></td></tr>
        <tr><td>StartedAt </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.StartedAt  </span></td></tr>
        <tr><td>Language </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.Language  </span></td></tr>
        <tr><td>ThumbnailUrl </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.ThumbnailUrl  </span></td></tr>
        <tr>
          <td>TagIDs </td>
          <td><span class="p-2"> @(string.Join(',', context.AnnouncementTwitchStreamData.TagIDs))  </span></td>
        </tr>
        <tr>
          <td>Tags </td>
          <td><span class="p-2"> @(string.Join(',', context.AnnouncementTwitchStreamData.Tags))  </span></td>
        </tr>
        <tr><td>IsMature </td><td><span class="p-2"> @context.AnnouncementTwitchStreamData.IsMature  </span></td></tr>
      </table>
    }
    else
    {
      <tr><td>OfflineImageUrl: </td><td><span class="p-2">@context.AnnouncementTwitchUserData.OfflineImageUrl</span></td></tr>
    }
  </GridDetailView>
</Grid>

<Modal @ref="addDialog" Title="Add new Announcement">
  <BodyTemplate>
    <Accordion @ref="addDialogAccordion" OnShown="HandleAddDialogOnShown">
      @foreach (var guildData in GetAddDialogData().GuildData)
      {
        <AccordionItem>
          <TitleTemplate>
            <Image Src="@guildData.GuildIconUrl" IsResponsive="true" Class="rounded-circle img-fluid" Style="width: 25px; height: 25px" />
            <span class="p-2">@guildData.GuildName</span>
          </TitleTemplate>
          <Content>
            @foreach (var category in guildData.DiscordChannelData.GroupBy(dcd => (dcd.CategoryID, dcd.CategoryName, dcd.CategoryPosition)).OrderBy(g => g.Key.CategoryPosition))
            {
              <Grid TItem="DiscordClientChannelData"
                    Data="category"
                    Class="table table-hover border-top"
                    AllowSelection="true">
                <GridColumns>
                  <GridColumn TItem="DiscordClientChannelData"
                              HeaderText="@category.Key.CategoryName"
                              PropertyName="ChannelName"
                              SortKeySelector="@(item => item.ChannelPosition)"
                              IsDefaultSortColumn="true">
                    @context.ChannelName
                  </GridColumn>
                </GridColumns>
              </Grid>
            }
          </Content>
        </AccordionItem>
      }
    </Accordion>
  </BodyTemplate>
  <FooterTemplate>
    <Button Color="ButtonColor.Secondary" @onclick="async () => await addDialog.HideAsync()">Close</Button>
    <Button Color="ButtonColor.Primary" @onclick="HandleDialogAdd">Add Announcement</Button>
  </FooterTemplate>
</Modal>

@code {
  [Parameter]
  public string? BotID { get; set; }

  private string? botName;

  private Grid<Controller.AnnouncementData>? dataGrid;
  private GridDetailView<Controller.AnnouncementData>? dataGridDetail;
  private Modal? addDialog;
  private Accordion? addDialogAccordion;

  private async Task<GridDataProviderResult<Controller.AnnouncementData>> AnnouncementsDataProvider(GridDataProviderRequest<Controller.AnnouncementData> request)
    => await Task.FromResult(request.ApplyTo(await GetBotAnnouncements(BotID, request.CancellationToken)));

  private async Task<IEnumerable<AnnouncementData>> GetBotAnnouncements(string? botID, CancellationToken cancellationToken)
    => await botDataController.GetBotAnnouncementsAsync(BotID, cancellationToken);

  private DiscordClientData GetAddDialogData()
  {
    return Task.Run(async () => await botDataController.GetDiscordClientDataAsync(BotID, CancellationToken.None)).Result;
  }

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    botName = await botDataController.GetBotNameAsync(BotID, CancellationToken.None) ?? "Unknown Bot";
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
  }

  public async Task HandleReload()
  {
    await dataGrid.RefreshDataAsync();
  }

  public async Task HandleAdd()
  {
    await addDialog.ShowAsync();
  }

  public async Task HandleDialogAdd()
  {
    await addDialog.HideAsync();
    await Task.CompletedTask;
  }

  public async Task HandleDelete(Controller.AnnouncementData announcementData)
  {
    await Task.CompletedTask;
  }

  public async Task HandleRun(Controller.AnnouncementData announcementData)
  {
    await Task.CompletedTask;
  }

  public void HandleAddDialogOnShown()
  {
    if (addDialogAccordion is not null)
      addDialogAccordion.ShowFirstAccordionItemAsync();
  }


  private IconColor GetIconColor(bool isOnline) => isOnline ? IconColor.Success : IconColor.Danger;
  private BadgeColor GetBadgeColor(bool isOnline) => isOnline ? BadgeColor.Success : BadgeColor.Danger;
}
